@import url("https://cdn.jsdelivr.net/gh/highlightjs/cdn-release@11.5.1/build/styles/atom-one-dark.min.css");
:root {
  color-scheme: dark;
}
.border-revert {
  border: revert;
}
.line-numbers {
  counter-reset: line;
}
.line-numbers > span::before {
  counter-increment: line;
  content: counter(line);
  min-width: 4ch;
  @apply text-right text-orange-500 inline-block pr-2 border-r-2 border-r-orange-500 mr-2;
}
@tailwind base;
@tailwind components;
@tailwind utilities;
